[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
